.cards {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.cardItem {
    position: relative;
    width: 450px;
    overflow: hidden;
}

.cardItem img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

@media (max-width: 753px) {
    .cards {
        margin-top: 40px;
        justify-content: center;
    }

    .cards img {
        height: 300px;
        width: 300px;
    }

    .cardItem {
        margin-bottom: 2rem;
        width: auto;
        /* Add some vertical spacing to make the center detection more obvious */
        margin-top: 2rem;
    }
}

.cardItem:hover img {
    transform: scale(1.1); /* Zoom level on hover */
}

.cardInfo{
    position: absolute;
    top: 45%;
    left: 40%;
}

.cardInfo h2{
    background-color: white;
    padding: 6px;
    opacity: 0.9;
    margin-bottom: 10px;
}

.cardInfo button{
    border: none;
    padding: 6px;
    background-color: black;
    color: white;
}


@media (max-width: 753px) {
    .cards{
        margin-top: 40px;
        justify-content: center;
    }

    .cards img{
        height: 300px;
        width: 300px;
    }

    .cardItem{
        margin-bottom: 2rem;
        width: auto;
    }

}